/*----------Global Classes--------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.global-input {
	height: 35px;
	border-radius: 1px;
	outline: none;
	font-size: 16px;
	padding-left: 3px;
	border: 1px solid #353567;
}

.sidebar-btn {
	background-color: #5356a4;
	color: #e9e9f3;
}


/*----------Other---------------*/

body {
	display: grid;
	grid-template-areas: 
	"sidebar top-section"
	"sidebar bottom-section";
	grid-template-columns: 250px auto;
}

/*----------Main--------------*/
main {
	display: grid;
	grid-template-rows: 35% 65%;
	height: 100vh;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 1px solid pink;
	width: 40%;
	min-width: 320px;
}

h1,h2,h3, label {
	font-weight: 700;
}

.main__top-section {
	background-color: #a9aad2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__bottom-section {
	background-color: #eaeaf4;
	border: 1px solid pink;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: flex-start;
}

.top-section__idea-form {
	height: 80%;
}

.idea-form__body-input {
	height: 80px;
	resize: none;
}

.idea-form__save-btn {
	background-color: #1f1f3d;
	color: #ffffff;
	margin-top: 5px;
}

.top-section__search-form {
	flex-direction: row;
	align-items: center;
	height: 20%;
}
.search-form__search-btn {
	flex: 1;
}

.search-form__search-input {
	flex: 9;
}

.search-form__display-list {
	list-style-type: none;
	width: 80%;
	display: block;
	background-color: #fff;
	z-index: 1;
}

.display-list__list-item {
	border: 1px solid #353567;
}


/*----------Sidebar----------*/

.sidebar {
	height: 100vh;
	background-color: #1f1f3d;
	border: 1px solid pink;
	color: #ffffff;
	display: flex;
	flex-direction: column;
}

.sidebar__side-title {
	font-size: 16px;
	padding: 15px 0px 15px 10px;
}

.side-title__filter-title {
	font-size: 12px;
	color: #bfbfdd;
	border-top: 1px solid #353567;
	padding: 10px 0px 10px 0px;
}

.sidebar-starred-ideas-btn {
	margin: 15px auto;
	width: 93%;
}

li {
	padding: 5px 0px 5px 5px;
	border-left: 5px solid transparent;
}

li:hover {
	background-color: #d14119;
	border-left: 5px solid #f58e72;
}
.quality {
	border: none;
	margin-bottom: 3px;
}
.sidebar__quality-container {
	margin-top: 3px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #353567;
	padding: 0px 10px;
}
.quality-container__quality-btn {
	margin: 12px 0px;
}

.filter-padding {
	padding-left: 10px;
}

/* ----------- idea cards------------ */

.idea-card {
	border: 1px solid #6e646b;
	width: 200px;
	height: 245px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.idea-card__card-header,
.idea-card__card-footer {
	height: 30px;
	background-color: #1f1f3d;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.idea-card__card-footer {
	background-color: #5356a4;
	color: #fff;
}

img {
	width: 30px;
	cursor: pointer;
}

.card-body__content {
	height: 120px;
}

.idea-card__card-body {
	padding: 10px;
	height: 100%;
	background-color: #fff;
}

.idea-card__card-title {
	height: 30px;
	margin-bottom: 5px;
	margin-top: 3px;
}

button {
	height: 30px;
	width:30px;
	background-color: #1f1f3d;
	border: none;
	outline: none;
}

